.formText {
    color: #192451;
    font-size: 19px;
    font-weight: 700;
    margin-left: 15rem;
}

.leftBody {
    max-width: 50%;
}

.loginForm {
    max-width: 50% !important;
}

input {
    border: none;
    border-bottom: 1px solid rgb(161, 158, 158);
    background-color: #f3f3f5;
    padding: 12px 0;
    margin-left: 15rem;
}

input:focus {
    outline: none;
    border-bottom: 1px solid red;
}

button{
    display: block;
    margin: 40px 10px;
    max-width: 70%;
    background-color: #192451;
    color: rgb(194, 194, 194);
    font-size: 20px;
    padding: 12px 50px;
    border-radius: 6px;
    margin-left: 15rem;
}

form {
    text-align: justify;
}

.link {
    text-align: justify;
}
